#find{
    padding: 10px;
    margin-bottom: 20px;
}
#result{
    display: table;
    border-collapse: collapse;
}
#result .row{
    display: table-row;
}
#result .cell{
    display: table-cell;
    border: 1px solid blue;
    padding: 4px;
}
img{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 10px 0 0;
}